<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.josecanhelp.tgtn</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1201FE3F-83AF-41C6-B43A-347C4F69CC4E</key>
		<array/>
		<key>C439E513-31B8-4779-B3EB-46EC32BF6109</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE5A9094-B774-483F-B34C-F417BE9D468F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C90FAD9D-4E17-4E49-9712-123910ADE51B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1201FE3F-83AF-41C6-B43A-347C4F69CC4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE5A9094-B774-483F-B34C-F417BE9D468F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C90FAD9D-4E17-4E49-9712-123910ADE51B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>54CD2D7B-6CDC-4C72-86C9-6D152FE05F32</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0AD21C2-731B-415E-ABC6-7F7B2CFC0CD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6E6BB093-AEE6-4D0F-93FD-C25CDC6F048E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FD51C320-A221-49A4-9A44-0997FF2C26B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>428602EC-3467-430F-9EBB-6B9073F35189</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0E0DE3F-1B3D-4678-85E9-8D9AEB593BC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0631B182-A696-45A7-9CCC-099A85D631BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jose Soto</string>
	<key>description</key>
	<string>Jose's Swiss-Army-Knife of scripts to help automate Tighten related actions.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tighten Workflows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>bear://x-callback-url/create?title=Today's Notes {query}&amp;tags=tighten&amp;open_note=yes&amp;new_window=no&amp;show_window=yes&amp;pin=yes&amp;edit=yes&amp;timestamp=no&amp;text=%23%23%203%20main%20goals%3A%0A1.%20%0A2.%20%0A3.%20%0A%0A%0A%23%23%20Doing%0A-%20%0A%0A%23%23%20Done%0A-%20%0A%0A%23%23%20Blockers%0A-%20&amp;x-success=hammerspoon://createOmniEODTask</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1201FE3F-83AF-41C6-B43A-347C4F69CC4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo $(date +"%Y-%m-%d")</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C90FAD9D-4E17-4E49-9712-123910ADE51B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>hammerspoon://enablePlayOnNoise</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A0AD21C2-731B-415E-ABC6-7F7B2CFC0CD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>start_day</string>
						<key>outputlabel</key>
						<string>start</string>
						<key>uid</key>
						<string>54CD2D7B-6CDC-4C72-86C9-6D152FE05F32</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>enable</string>
						<key>outputlabel</key>
						<string>enable</string>
						<key>uid</key>
						<string>6E6BB093-AEE6-4D0F-93FD-C25CDC6F048E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>disable</string>
						<key>outputlabel</key>
						<string>disable</string>
						<key>uid</key>
						<string>428602EC-3467-430F-9EBB-6B9073F35189</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CE5A9094-B774-483F-B34C-F417BE9D468F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Start Day","arg":"start_day"},{"title":"End Day","arg":"end_day"},{"title":"Enable PlayOnNoise","arg":"enable"},{"title":"Disable PlayOnNoise","arg":"disable"}]</string>
				<key>keyword</key>
				<string>t</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>C439E513-31B8-4779-B3EB-46EC32BF6109</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>hammerspoon://disablePlayOnNoise</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FD51C320-A221-49A4-9A44-0997FF2C26B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Cenitoria Melton","arg":"Keep Rocking.\n\n\nCo-authored-by: Cenitoria Melton &lt;cenitoria@tighten.co&gt;","subtitle":"The cool one."},{"title":"Matt Stauffer","arg":"Commit message here.\n\n\nCo-authored-by: Matt Stauffer &lt;matt@tighten.co&gt;","subtitle":"1\/2 Santa Boss"}]</string>
				<key>keyword</key>
				<string>coauth</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select Coworker</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D0E0DE3F-1B3D-4678-85E9-8D9AEB593BC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0631B182-A696-45A7-9CCC-099A85D631BC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0631B182-A696-45A7-9CCC-099A85D631BC</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>1201FE3F-83AF-41C6-B43A-347C4F69CC4E</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>A0AD21C2-731B-415E-ABC6-7F7B2CFC0CD8</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>C439E513-31B8-4779-B3EB-46EC32BF6109</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>C90FAD9D-4E17-4E49-9712-123910ADE51B</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>CE5A9094-B774-483F-B34C-F417BE9D468F</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>D0E0DE3F-1B3D-4678-85E9-8D9AEB593BC3</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>FD51C320-A221-49A4-9A44-0997FF2C26B2</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://josesoto.com</string>
</dict>
</plist>
