<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.josecanhelp.twconverter</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2A0B314B-F166-459C-80DC-0C37B89AEE93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>702B6588-ADF6-47BD-B99F-C6C00912D310</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DEABC1A-A2FB-4910-9E95-FD9304841FA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2C99934-F3D9-40F0-BFA4-7C65E391FC8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>25B52463-3101-45F5-A16B-4D553CF1BDA7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2940C639-29B8-45B7-B9EC-E5B7168514AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FDD3ABE-A5A4-4AF2-98E2-FDB68F840DCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A0B314B-F166-459C-80DC-0C37B89AEE93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>702B6588-ADF6-47BD-B99F-C6C00912D310</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DEABC1A-A2FB-4910-9E95-FD9304841FA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D82AC6D-33DD-449B-8247-FCE09ADDB0A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C96A439-26DA-4231-9E9D-6149DF38D497</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2C99934-F3D9-40F0-BFA4-7C65E391FC8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21B6E549-CA32-4140-9E3E-9F05EDE96812</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tailwind Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query} REM</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>21B6E549-CA32-4140-9E3E-9F05EDE96812</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>&lt;?php

$query = $argv[1];

echo explode("-", $query)[1];

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C2C99934-F3D9-40F0-BFA4-7C65E391FC8D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>&lt;?php

$query = $argv[1]; // "h-32"

$base = 16;

$splits = explode("-", $query);

$step1 = $splits[1] / $base;


if($splits[0] === "text") {
	echo "{$splits[0]}-{$step1}";
	return;
}

$step2 = $step1 / 0.25;

echo "{$splits[0]}-{$step2}";

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>702B6588-ADF6-47BD-B99F-C6C00912D310</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tconv</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2A0B314B-F166-459C-80DC-0C37B89AEE93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>29</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>0</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6FDD3ABE-A5A4-4AF2-98E2-FDB68F840DCC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^text</string>
						<key>outputlabel</key>
						<string>font</string>
						<key>uid</key>
						<string>25B52463-3101-45F5-A16B-4D553CF1BDA7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>spacing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5DEABC1A-A2FB-4910-9E95-FD9304841FA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2940C639-29B8-45B7-B9EC-E5B7168514AC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Ram Search Key Successfully Set!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7C96A439-26DA-4231-9E9D-6149DF38D497</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set enteredKey to item 1 of argv
	tell application id "com.runningwithcrayons.Alfred" to set configuration "base" to value enteredKey in workflow "com.josecanhelp.twconverter" with exportable
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7D82AC6D-33DD-449B-8247-FCE09ADDB0A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>21B6E549-CA32-4140-9E3E-9F05EDE96812</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>2940C639-29B8-45B7-B9EC-E5B7168514AC</key>
		<dict>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>2A0B314B-F166-459C-80DC-0C37B89AEE93</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>5DEABC1A-A2FB-4910-9E95-FD9304841FA9</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>6FDD3ABE-A5A4-4AF2-98E2-FDB68F840DCC</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>702B6588-ADF6-47BD-B99F-C6C00912D310</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>7C96A439-26DA-4231-9E9D-6149DF38D497</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>7D82AC6D-33DD-449B-8247-FCE09ADDB0A2</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>C2C99934-F3D9-40F0-BFA4-7C65E391FC8D</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>base</key>
		<string>base</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
