*.log
.DS_Store
alacritty/alacritty-theme/
bin/apache-maven-3.9.6/*
bin/nvim-macos-arm64/*
karabiner.edn.bak
not-public
nvim/.undo/
tmux/plugins/*
tmux/resurrect
vim/.netrwhist
vim/plugged
bin/google-cloud-sdk/*