; !  | means mandatory
; #  | means optional
; C  | left_command
; T  | left_control
; O  | left_option
; S  | left_shift
; F  | fn
; Q  | right_command
; W  | right_control
; E  | right_option
; R  | right_shift
; !! | mandatory command + control + optional + shift (hyper)
; ## | optional any

{:templates {:launch "open -a %s"
             :hs "open -g hammerspoon://%s"}
 :applications {:bear ["^net\\.shinyfrog\\.bear$"]}
 :layers {:hyper-mode {:key :caps_lock :alone {:key :escape}}}
 :simlayers {:v-mode {:key :v}
             :quote-mode {:key :quote}}
 :simlayer-threshold 150
 :main [{:des "Hyper Mode"
         :rules [:hyper-mode
                 [:a :!!a] ; get app bundle ID from Alfred
                 [:h [:hs "navigateBack"]]
                 [:i :!T9] ; Toggle iTerm with hotkey
                 [:j [:hs "goToPreviousTab"]]
                 [:k [:hs "goToNextTab"]]
                 [:l [:hs "navigateForward"]]
                 [:m [:hs "toggleSidebar"]]
                 [:n [:hs "createNewThing"]]
                 [:o [:hs "openAnything"]]
                 [:p :!Cv] ; Paste
                 [:q :!Cw] ; Close the current window
                 [:v :!Oj] ; Show all open apps in hammerspoon overlay
                 [:w [:hs "openWindowModal"]] ; Window Management
                 [:y [:hs "copyAnything"]]
                 [:quote [:hs "openCommandPalette"]]
                 [:return_or_enter [:hs "openAppModal"]] ; trigger appM Modal in hammerspoon
                 [:semicolon :!!semicolon] ; open Alfred
                 ]}
        {:des "Simultaneous s + d --> Super Duper Mode"
         :rules [[{:sim [:s :d] :simo {:interrupt true
                                       :dorder :insensitive
                                       :uorder :insensitive
                                       :afterup {:set ["super-duper" 0]}}} {:set ["super-duper" 1]}]]}
        {:des "Super Duper Mode for Traversing Tmux"
         :rules [:super-duper
                 [:c [:!Ta :c]] ; Create a new tmux window
                 [:f [:!Ta :f]] ; Find a window
                 [:h [:!Ta :p]] ; Switch to the previous tmux window 
                 [:j [:!Ta :j]] ; Focus on the pane below current pane
                 [:k [:!Ta :k]] ; Focus on the pane above current pane
                 [:l [:!Ta :n]] ; Switch the the next tmux window
                 [:o [:!Ta :z]] ; Zoom on current pane
                 [:r [:!Ta :r]] ; Reload the Matrix
                 [:hyphen [:!Ta :hyphen]] ; Split tmux window horizontally
                 [:backslash [:!Ta :!Sbackslash]] ; Split tmux window vertically
                 [:delete_or_backspace [:!Ta :x :y]] ; Kill a tmux pane without asking for confirmation
                 ]}
        {:des "V mode for Vim Motions"
         :rules [:v-mode
                 [:j :up_arrow]
                 [:k :down_arrow]]}
        {:des "Quote mode for running commands"
         :rules [:quote-mode
                 [:z [:hs "debug-menu"]]
                 [:x [:hs "expose"]]]}]}
