; !  | means mandatory
; #  | means optional
; C  | left_command
; T  | left_control
; O  | left_option
; S  | left_shift
; F  | fn
; Q  | right_command
; W  | right_control
; E  | right_option
; R  | right_shift
; !! | mandatory command + control + optional + shift (hyper)
; ## | optional any

{:templates {:launch "open -a %s"
             :hs "open -g hammerspoon://%s"}
 :applications {:bear ["^net\\.shinyfrog\\.bear$"]
                :keynote ["^com\\.apple\\.iWork\\.Keynote$"]
                :slack ["^com\\.tinyspeck\\.slackmacgap$"]
                :messages ["^com\\.apple\\.iChat$"]}
 :devices {:corsair [{:product_id 6933 :vendor_id 6940}]}
 :layers {:hyper-mode {:key :caps_lock :alone {:key :escape}}
          :tilde-mode {:key :grave_accent_and_tilde}}
 :simlayers {:v-mode {:key :v}
             :launch-mode {:key :quote}}
 :simlayer-threshold 350
 :main [{:des "Hyper Mode"
         :rules [:hyper-mode
                 [:0 :f12] ; view desktop
                 [:a :!!a] ; get app bundle ID from Alfred
                 [:b [:hs "toggleBreakTime"]] ; Toggle BreakTime on/off
                 [:g [:hs "quickSlackReactEmoji"]] ; Wave goodbye to folks in Slack
                 [:h [:hs "navigateBack"]]
                 [:i :!T9] ; Toggle iTerm with hotkey
                 [:j [:hs "navigateDownward"]]
                 [:k [:hs "navigateUpward"]]
                 [:l [:hs "navigateForward"]]
                 [:m [:hs "toggleSidebar"]]
                 [:n [:hs "createNewThing"]]
                 [:delete_or_backspace [:hs "deleteThing"]]
                 [:o [:hs "openAnything"]]
                 [:p :!Cv] ; Paste
                 [:q :!Cw] ; Close the current window
                 [:v :!Oj] ; Show all open apps in hammerspoon overlay
                 [:w [:hs "openWindowModal"]] ; Window Management
                 [:y [:hs "copyAnything"]]
                 [:quote [:hs "openCommandPalette"]]
                 [:return_or_enter [:hs "openAppModal"]] ; trigger appM Modal in hammerspoon
                 [:semicolon :!!semicolon] ; open Alfred
                 ]}
        {:des "Corsair Keyboard - Map Option to Command"
         :rules [[:left_option :left_command [:corsair]]]}
        {:des "Corsair Keyboard - Map Command to Option"
         :rules [[:left_command :left_option [:corsair]]]}
        {:des "ASDF Mode"
         :rules [[{:sim [:a :s :d :f] :simo {:interrupt true
                                             :dorder :insensitive
                                             :uorder :insensitive
                                             :afterup {:set ["asdf-mode" 0]}}} {:set ["asdf-mode" 1]}]]}
        {:des "Simultaneous s + d --> Super Duper Mode"
         :rules [[{:sim [:s :d] :simo {:interrupt true
                                       :dorder :insensitive
                                       :uorder :insensitive
                                       :afterup {:set ["super-duper" 0]}}} {:set ["super-duper" 1]}]]}
        {:des "Super Duper Mode for Traversing Tmux"
         :rules [:super-duper
                 [:f [:!Ta :f :return_or_enter]] ; Find a window
                 [:open_bracket [:!Ta :p]] ; Switch to the previous tmux window 
                 [:close_bracket [:!Ta :n]] ; Switch the the next tmux window
                 [:j [:!Ta :j]] ; Focus on the pane below current pane
                 [:k [:!Ta :k]] ; Focus on the pane above current pane
                 [:h [:!Ta :h]] ; Focus on the pane to the left of the current pane
                 [:l [:!Ta :l]] ; Focus on the pane to the right of the current pane
                 [:o [:!Ta :z]] ; Zoom on current pane
                 [:r [:!Ta :r]] ; Reload the Matrix
                 [:hyphen [:!Ta :hyphen]] ; Split tmux window horizontally
                 [:backslash [:!Ta :!Sbackslash]] ; Split tmux window vertically
                 [:delete_or_backspace [:!Ta :x :y]] ; Kill a tmux pane without asking for confirmation
                 ]}
        {:des "ASDF Mode"
         :rules [:asdf-mode
                 [:k :up_arrow]
                 [:h :left_arrow]
                 [:l :right_arrow]
                 [:j :down_arrow]]}
        {:des "V mode for Vim Motions"
         :rules [:v-mode
                 [:k :up_arrow]
                 [:h :left_arrow]
                 [:l :right_arrow]
                 [:j :down_arrow]]}
        {:des "Launch Mode for opening up Applications"
         :rules [:launch-mode
                 [:r [:launch "Bear"]]
                 [:f [:launch "Brave\\ Browser"]]
                 [:i [:launch "iterm"]]
                 [:s [:launch "Slack"]]
                 [:o [:launch "OmniFocus"]]
                 [:y [:launch "Sizzy"]]
                 [:t [:launch "TablePlus"]]
                 [:m [:launch "Messages"]]
                 [:z [:hs "debug-menu"]]
                 [:x [:hs "expose"]]]}]}
