<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.josesoto.alfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>5E1E967A-2BA9-4835-8103-0876BA57C0B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8DD7AC0-DC3B-4FE8-B612-8DA2A4197C0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7B7123D3-90B2-4EBD-B62B-F280F114528F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D099FA57-E475-404E-95B5-31B3650D13FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2BA0EC18-2173-48F2-B2A4-800E5CA1704F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1A3824C-3CB1-49DC-90C0-5894DDFA652F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E1E967A-2BA9-4835-8103-0876BA57C0B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D099FA57-E475-404E-95B5-31B3650D13FD</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Jose Soto</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Personal Workflows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"d3b06e78635e316f73794a9ad662b8e36ff128d7.png","title":"End of Week","arg":"eow","subtitle":"Troika IO End of Week Notes"},{"imagefile":"0fa43d71d99c6f4e32a1061d28f78a100c726f3b.png","title":"Redeeem","arg":"redeeem","subtitle":"Develop for Redeeem"}]</string>
				<key>keyword</key>
				<string>wf</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Select from a list of custom flows/scripts.</string>
				<key>title</key>
				<string>Personal Workflows</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>C1A3824C-3CB1-49DC-90C0-5894DDFA652F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>eow</string>
						<key>outputlabel</key>
						<string>EOW</string>
						<key>uid</key>
						<string>7B7123D3-90B2-4EBD-B62B-F280F114528F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>redeeem</string>
						<key>outputlabel</key>
						<string>REDEEEM</string>
						<key>uid</key>
						<string>2BA0EC18-2173-48F2-B2A4-800E5CA1704F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5E1E967A-2BA9-4835-8103-0876BA57C0B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>bear://x-callback-url/create?title=Products%20Update&amp;tags=troika%2Feow&amp;open_note=yes&amp;clipboard=no&amp;new_window=no&amp;float=no&amp;show_window=yes&amp;pin=no&amp;edit=yes&amp;timestamp=no&amp;text=%23%23%20Done%0A-%20%0A%0A%23%23%20Doing%0A-%20</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F8DD7AC0-DC3B-4FE8-B612-8DA2A4197C0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Code/Redeeem.code-workspace</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D099FA57-E475-404E-95B5-31B3650D13FD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5E1E967A-2BA9-4835-8103-0876BA57C0B5</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>C1A3824C-3CB1-49DC-90C0-5894DDFA652F</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>D099FA57-E475-404E-95B5-31B3650D13FD</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>F8DD7AC0-DC3B-4FE8-B612-8DA2A4197C0D</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>josesoto.com</string>
</dict>
</plist>
