<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.josecanhelp.alfred-osx</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1C7C4A75-0477-4F65-921F-33960019D454</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41A38261-2747-4179-A38F-8896C54F75DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41A38261-2747-4179-A38F-8896C54F75DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63C10B5D-A19F-4ED3-862A-85109A0AF4EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>242950C5-E59D-49C6-AF3C-37913339F014</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>420F600F-9CFB-4C58-A564-E598FD6E9AD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3F9B9C1F-07A0-4A67-96FE-43BEB8EF31B9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DDDD6480-DA73-4DEA-9824-F3317EF7D04B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>235E6EA5-6CB1-413C-93F1-3029D2C641B8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7DCBCE52-C7FE-4FEE-B152-81906B0D8491</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D0AFDCC5-D08D-495B-AFE5-0E5A02C24849</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>420F600F-9CFB-4C58-A564-E598FD6E9AD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9A92485-716C-45FB-A610-3228E29A2AA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63C10B5D-A19F-4ED3-862A-85109A0AF4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA09F097-0E38-42C9-90E2-774089BDC629</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDDD6480-DA73-4DEA-9824-F3317EF7D04B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E81EA73-68DD-4064-AAD6-1B09D365CB30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jose Soto</string>
	<key>description</key>
	<string>Modify user default settings via Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Run OSX Commands</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>STATE="$(defaults read com.apple.finder CreateDesktop)"

case $STATE in
  (0)    defaults write com.apple.finder CreateDesktop -bool true &amp;&amp; killall Finder;;
  (1)    defaults write com.apple.finder CreateDesktop -bool false &amp;&amp; killall Finder;;
esac

NEWSTATE="$(defaults read com.apple.finder CreateDesktop)"

if [ $NEWSTATE = 1 ]
then
	echo "Desktop Icons Enabled"
else
	echo "Desktop Icons Disabled"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>63C10B5D-A19F-4ED3-862A-85109A0AF4EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EA09F097-0E38-42C9-90E2-774089BDC629</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Toggle Desktop Icons","arg":"desktopIconToggle","subtitle":"Turn desktop icon visibility on or off."},{"title":"Turn Yabai On","arg":"yabaion"},{"title":"Turn Yabai Off","arg":"yabaioff"},{"title":"Start Day","arg":"startDay"}]</string>
				<key>keyword</key>
				<string>osx</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>1C7C4A75-0477-4F65-921F-33960019D454</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>brew services start yabai &amp;&amp;
yabai -m config window_opacity on &amp;&amp;
yabai -m config active_window_opacity 1.0 &amp;&amp;
yabai -m config normal_window_opacity 0.9</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>420F600F-9CFB-4C58-A564-E598FD6E9AD3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Yabai Enabled</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D9A92485-716C-45FB-A610-3228E29A2AA4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>desktopIconToggle</string>
						<key>outputlabel</key>
						<string>desktopIconToggle</string>
						<key>uid</key>
						<string>242950C5-E59D-49C6-AF3C-37913339F014</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>yabaion</string>
						<key>outputlabel</key>
						<string>yabaion</string>
						<key>uid</key>
						<string>3F9B9C1F-07A0-4A67-96FE-43BEB8EF31B9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>yabaioff</string>
						<key>outputlabel</key>
						<string>yabaioff</string>
						<key>uid</key>
						<string>235E6EA5-6CB1-413C-93F1-3029D2C641B8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>startDay</string>
						<key>outputlabel</key>
						<string>startDay</string>
						<key>uid</key>
						<string>D0AFDCC5-D08D-495B-AFE5-0E5A02C24849</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>41A38261-2747-4179-A38F-8896C54F75DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Yabai Disabled</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5E81EA73-68DD-4064-AAD6-1B09D365CB30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>yabai -m config active_window_opacity 1.0
yabai -m config normal_window_opacity 1.0
yabai -m config window_opacity off
brew services stop yabai</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DDDD6480-DA73-4DEA-9824-F3317EF7D04B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Spotify.app</string>
					<string>/Applications/Brave Browser.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>7DCBCE52-C7FE-4FEE-B152-81906B0D8491</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1C7C4A75-0477-4F65-921F-33960019D454</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>List Filter Input: Create a pre-set list of options to show in Alfred's results.</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>41A38261-2747-4179-A38F-8896C54F75DD</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>420F600F-9CFB-4C58-A564-E598FD6E9AD3</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>5E81EA73-68DD-4064-AAD6-1B09D365CB30</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>63C10B5D-A19F-4ED3-862A-85109A0AF4EE</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>7DCBCE52-C7FE-4FEE-B152-81906B0D8491</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>D9A92485-716C-45FB-A610-3228E29A2AA4</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>DDDD6480-DA73-4DEA-9824-F3317EF7D04B</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>EA09F097-0E38-42C9-90E2-774089BDC629</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://josesoto.com</string>
</dict>
</plist>
