<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jakebathman.muzzle</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>05C7AAD3-0548-4637-A601-15484BF97355</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E85CD9A6-826A-40E2-9102-E2600AC18949</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F42B312-FE33-4566-B1C1-CC7F7A2C7003</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26928A03-6998-4782-9AA5-8BE13C46D54B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>255ACA82-88BE-46C7-9ABA-CCF3B67022DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2513331-9230-4281-870C-E9BAD712472B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26928A03-6998-4782-9AA5-8BE13C46D54B</key>
		<array/>
		<key>33052162-97F1-41BC-BA48-5B0C9580CBCF</key>
		<array/>
		<key>33D89F1E-5C6B-4474-8632-FC624A97E218</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F42B312-FE33-4566-B1C1-CC7F7A2C7003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1225C4D-7E0F-470B-8BDF-A355B916B4D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6586B905-F32A-4356-A144-F7AC4A8FD607</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37EE53E5-BA94-4F15-8BD4-16F529835103</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>255ACA82-88BE-46C7-9ABA-CCF3B67022DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5FEE1B71-46EB-43EB-B482-D820D8D5190F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05C7AAD3-0548-4637-A601-15484BF97355</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6586B905-F32A-4356-A144-F7AC4A8FD607</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBE44B9F-EF53-463D-993D-BA5A252BAB4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD3140F7-1B72-4206-BD35-0BA5F3C2780B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05C7AAD3-0548-4637-A601-15484BF97355</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7218176-3A09-4753-9B4E-875DD98215E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12E2FBE1-AFF4-4850-BD50-59E22253A4CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>33052162-97F1-41BC-BA48-5B0C9580CBCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC6799A0-DEF6-425C-BEF9-56DCFDBAA7A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33D89F1E-5C6B-4474-8632-FC624A97E218</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2513331-9230-4281-870C-E9BAD712472B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC6799A0-DEF6-425C-BEF9-56DCFDBAA7A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3EE21A7E-A0F2-4081-8373-2911A946762B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2F2A892-7671-4857-B8E8-E768F0C22CB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D90A4D4B-1366-49A1-B4D0-0E2789BF0D16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C390DE06-9DF5-4365-8C18-6F87FD7A3286</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E85CD9A6-826A-40E2-9102-E2600AC18949</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37EE53E5-BA94-4F15-8BD4-16F529835103</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7218176-3A09-4753-9B4E-875DD98215E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE89C9E5-B4B2-4A4B-AEB6-06776B15286C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFB5AB1A-038C-4107-B136-6BF6D439CE71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>056A73E4-DABB-4DAA-892A-F35867B886F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBE44B9F-EF53-463D-993D-BA5A252BAB4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE89C9E5-B4B2-4A4B-AEB6-06776B15286C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2F2A892-7671-4857-B8E8-E768F0C22CB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jake Bathman</string>
	<key>description</key>
	<string>Mute/unmute your mic</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Muzzle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$query = "{query}";

if($query &gt; 0){
	file_put_contents(".input_volume", $query);
}
echo $query;</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26928A03-6998-4782-9AA5-8BE13C46D54B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run 
  set currentInputVolume to input volume of (get volume settings)
  log "current volume setting: " &amp; currentInputVolume
  do shell script "echo " &amp; currentInputVolume
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F42B312-FE33-4566-B1C1-CC7F7A2C7003</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Electronic_Chime-KevanGC-495939803.m4a</string>
				<key>systemsound</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>EFB5AB1A-038C-4107-B136-6BF6D439CE71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AD3140F7-1B72-4206-BD35-0BA5F3C2780B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>05C7AAD3-0548-4637-A601-15484BF97355</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Microphone is now ON (level: {var:input_volume})</string>
				<key>title</key>
				<string>Speak!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>056A73E4-DABB-4DAA-892A-F35867B886F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>E1225C4D-7E0F-470B-8BDF-A355B916B4D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>on</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EE89C9E5-B4B2-4A4B-AEB6-06776B15286C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>muzzle</string>
				<key>subtext</key>
				<string>Mute/unmute the mic</string>
				<key>text</key>
				<string>Muzzle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5FEE1B71-46EB-43EB-B482-D820D8D5190F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cat .input_volume | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BC6799A0-DEF6-425C-BEF9-56DCFDBAA7A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run 
  set inputVolumeOld to {query}
  set inputVolume to input volume of (get volume settings)
  if inputVolume = 0 then
    set volume input volume inputVolumeOld
    return "on"
  else
    set volume input volume 0
    return "off"
  end if
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6586B905-F32A-4356-A144-F7AC4A8FD607</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
    },
    "variables" : {
      "input_volume" : "{query}"
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>33D89F1E-5C6B-4474-8632-FC624A97E218</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>FBE44B9F-EF53-463D-993D-BA5A252BAB4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Microphone is now OFF (level: 0)</string>
				<key>title</key>
				<string>Shush!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D90A4D4B-1366-49A1-B4D0-0E2789BF0D16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>off</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C2F2A892-7671-4857-B8E8-E768F0C22CB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>cur_vol</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C2513331-9230-4281-870C-E9BAD712472B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>[\d]+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>37EE53E5-BA94-4F15-8BD4-16F529835103</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>3EE21A7E-A0F2-4081-8373-2911A946762B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>255ACA82-88BE-46C7-9ABA-CCF3B67022DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Computer Error Alert-SoundBible.com-783113881.m4a</string>
				<key>systemsound</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>C390DE06-9DF5-4365-8C18-6F87FD7A3286</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Input volume can't be set (are you using a USB headset?)</string>
				<key>title</key>
				<string>Error :(</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>12E2FBE1-AFF4-4850-BD50-59E22253A4CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run 
  set inputVolume to input volume of (get volume settings)
  if inputVolume is missing value then
    return "error"
  else
    return inputVolume
  end if
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E85CD9A6-826A-40E2-9102-E2600AC18949</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B7218176-3A09-4753-9B4E-875DD98215E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>242503__gabrielaraujo__failure-wrong-action.m4a</string>
				<key>systemsound</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>33052162-97F1-41BC-BA48-5B0C9580CBCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>056A73E4-DABB-4DAA-892A-F35867B886F5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>05C7AAD3-0548-4637-A601-15484BF97355</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>0F42B312-FE33-4566-B1C1-CC7F7A2C7003</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>12E2FBE1-AFF4-4850-BD50-59E22253A4CA</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>255ACA82-88BE-46C7-9ABA-CCF3B67022DD</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>26928A03-6998-4782-9AA5-8BE13C46D54B</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>33052162-97F1-41BC-BA48-5B0C9580CBCF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>33D89F1E-5C6B-4474-8632-FC624A97E218</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>37EE53E5-BA94-4F15-8BD4-16F529835103</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>3EE21A7E-A0F2-4081-8373-2911A946762B</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>5FEE1B71-46EB-43EB-B482-D820D8D5190F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>6586B905-F32A-4356-A144-F7AC4A8FD607</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>AD3140F7-1B72-4206-BD35-0BA5F3C2780B</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B7218176-3A09-4753-9B4E-875DD98215E8</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>BC6799A0-DEF6-425C-BEF9-56DCFDBAA7A4</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>C2513331-9230-4281-870C-E9BAD712472B</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>C2F2A892-7671-4857-B8E8-E768F0C22CB5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>C390DE06-9DF5-4365-8C18-6F87FD7A3286</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>D90A4D4B-1366-49A1-B4D0-0E2789BF0D16</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>E1225C4D-7E0F-470B-8BDF-A355B916B4D5</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>E85CD9A6-826A-40E2-9102-E2600AC18949</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Check that the input volume can be set programmatically (some USB headsets disable the system mic input slider)</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>EE89C9E5-B4B2-4A4B-AEB6-06776B15286C</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>EFB5AB1A-038C-4107-B136-6BF6D439CE71</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>FBE44B9F-EF53-463D-993D-BA5A252BAB4E</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>cur_vol</key>
		<string></string>
		<key>input_volume</key>
		<string></string>
		<key>keyword</key>
		<string>muzzle</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://jakebathman.com</string>
</dict>
</plist>
