<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.josecanhelp.alphahex</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>B7AAB098-5CC1-4B3F-A167-DBDCED02B4FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9352688-9FE6-4DF4-94EB-AAA826823913</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBE3425E-4248-4397-8ED9-9B5902561BB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7AAB098-5CC1-4B3F-A167-DBDCED02B4FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jose Soto</string>
	<key>description</key>
	<string>Generate the hex value from a decimal number</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>AlphaHex</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>alpha</string>
				<key>subtext</key>
				<string>Alpha Hex Generator</string>
				<key>text</key>
				<string>RBGa</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BBE3425E-4248-4397-8ED9-9B5902561BB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$hex = strtoupper(dechex(min(floor(255*(abs({query}/100))), 255)));

if(strlen($hex) == 1) {
	echo "0" . $hex;
} else {
	echo $hex;
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7AAB098-5CC1-4B3F-A167-DBDCED02B4FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A9352688-9FE6-4DF4-94EB-AAA826823913</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>A9352688-9FE6-4DF4-94EB-AAA826823913</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>B7AAB098-5CC1-4B3F-A167-DBDCED02B4FA</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>BBE3425E-4248-4397-8ED9-9B5902561BB4</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>josecanhelp.com</string>
</dict>
</plist>
