<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.josecanhelp.slackwave</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>03CD28F0-D3DB-4DDF-9383-0B2005A232D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D535A9A6-9B24-4244-98DF-F2C961EC60E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>281E0394-666A-4477-B87B-20CF0CCC8743</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3227C115-A6F1-4762-B824-C96F79A4FCE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30885C91-9088-4DA1-BD7A-24E5F16D554B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F5CD1BB-3023-423C-A5EB-D44C21B8DD2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3227C115-A6F1-4762-B824-C96F79A4FCE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1E0E6AA-EF71-4DE7-BE7B-D650A69EC3F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3EDD663E-745C-4778-8757-CDE74AF832C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D6C3A0B-942C-4A7B-BB9F-4A8D62C7A614</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>402820BE-93F5-47DA-B076-B6DECE7CE0CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EDD663E-745C-4778-8757-CDE74AF832C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>512921B4-31BB-4572-BA0A-FAD22E823EB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>281E0394-666A-4477-B87B-20CF0CCC8743</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51C5A907-15DC-4AEC-A73C-A0779CAB7459</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4002375-D7BB-4DDC-8DAA-85D757F4668D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>555856E4-6EBE-4D43-8F24-A915B72649C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFC527CC-CA5E-4D68-A0AA-12F09FC00D7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D6C3A0B-942C-4A7B-BB9F-4A8D62C7A614</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51C5A907-15DC-4AEC-A73C-A0779CAB7459</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F5CD1BB-3023-423C-A5EB-D44C21B8DD2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>512921B4-31BB-4572-BA0A-FAD22E823EB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84666E45-4486-478E-89A8-865220136821</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F238FCFA-E97B-47B8-A3FA-290B503ABC19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86530527-EE05-4DD5-ADCE-E0024769313A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FFCF0F2-104F-4217-AC23-07FE40626882</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CE53661-F019-455C-8F7C-C83D66E8488D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84666E45-4486-478E-89A8-865220136821</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>927D7968-7FCD-4F95-8BEA-4BD8E5CC851C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86530527-EE05-4DD5-ADCE-E0024769313A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FFCF0F2-104F-4217-AC23-07FE40626882</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEBB4664-5CEE-4D5B-9498-09F870555BFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFC527CC-CA5E-4D68-A0AA-12F09FC00D7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>927D7968-7FCD-4F95-8BEA-4BD8E5CC851C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4002375-D7BB-4DDC-8DAA-85D757F4668D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CE53661-F019-455C-8F7C-C83D66E8488D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEBB4664-5CEE-4D5B-9498-09F870555BFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>402820BE-93F5-47DA-B076-B6DECE7CE0CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D535A9A6-9B24-4244-98DF-F2C961EC60E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>555856E4-6EBE-4D43-8F24-A915B72649C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1E0E6AA-EF71-4DE7-BE7B-D650A69EC3F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03CD28F0-D3DB-4DDF-9383-0B2005A232D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEA3DEF4-BF48-4353-92B2-D0CCD5BA69E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F5CD1BB-3023-423C-A5EB-D44C21B8DD2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jose Soto</string>
	<key>description</key>
	<string>Use a hotkey to respond to the previous message with a wave</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Slack Auto :wave: with Hotkey</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>com.josecanhelp.wavetrigger</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>FEA3DEF4-BF48-4353-92B2-D0CCD5BA69E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>;</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>131072</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>512921B4-31BB-4572-BA0A-FAD22E823EB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>hotkey</key>
				<integer>47</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>.</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>30885C91-9088-4DA1-BD7A-24E5F16D554B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>;</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>131072</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>555856E4-6EBE-4D43-8F24-A915B72649C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>a</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>3227C115-A6F1-4762-B824-C96F79A4FCE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>w</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>281E0394-666A-4477-B87B-20CF0CCC8743</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>=</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>131072</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>6F5CD1BB-3023-423C-A5EB-D44C21B8DD2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>F1E0E6AA-EF71-4DE7-BE7B-D650A69EC3F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>e</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>03CD28F0-D3DB-4DDF-9383-0B2005A232D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>;</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>131072</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>D535A9A6-9B24-4244-98DF-F2C961EC60E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>F238FCFA-E97B-47B8-A3FA-290B503ABC19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>k</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>927D7968-7FCD-4F95-8BEA-4BD8E5CC851C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>4</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>8CE53661-F019-455C-8F7C-C83D66E8488D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>e</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>51C5A907-15DC-4AEC-A73C-A0779CAB7459</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>t</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>402820BE-93F5-47DA-B076-B6DECE7CE0CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>;</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>131072</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>84666E45-4486-478E-89A8-865220136821</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>s</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>AFC527CC-CA5E-4D68-A0AA-12F09FC00D7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>-</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>CEBB4664-5CEE-4D5B-9498-09F870555BFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>o</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>3EDD663E-745C-4778-8757-CDE74AF832C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>n</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>5D6C3A0B-942C-4A7B-BB9F-4A8D62C7A614</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>n</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>9FFCF0F2-104F-4217-AC23-07FE40626882</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>-</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>C4002375-D7BB-4DDC-8DAA-85D757F4668D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>i</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>86530527-EE05-4DD5-ADCE-E0024769313A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03CD28F0-D3DB-4DDF-9383-0B2005A232D1</key>
		<dict>
			<key>xpos</key>
			<integer>1300</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>281E0394-666A-4477-B87B-20CF0CCC8743</key>
		<dict>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>30885C91-9088-4DA1-BD7A-24E5F16D554B</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>3227C115-A6F1-4762-B824-C96F79A4FCE6</key>
		<dict>
			<key>xpos</key>
			<integer>905</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>3EDD663E-745C-4778-8757-CDE74AF832C8</key>
		<dict>
			<key>xpos</key>
			<integer>1005</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>402820BE-93F5-47DA-B076-B6DECE7CE0CB</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>512921B4-31BB-4572-BA0A-FAD22E823EB9</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>51C5A907-15DC-4AEC-A73C-A0779CAB7459</key>
		<dict>
			<key>xpos</key>
			<integer>1320</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>555856E4-6EBE-4D43-8F24-A915B72649C0</key>
		<dict>
			<key>xpos</key>
			<integer>1650</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>5D6C3A0B-942C-4A7B-BB9F-4A8D62C7A614</key>
		<dict>
			<key>xpos</key>
			<integer>1155</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>6F5CD1BB-3023-423C-A5EB-D44C21B8DD2C</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>84666E45-4486-478E-89A8-865220136821</key>
		<dict>
			<key>xpos</key>
			<integer>1810</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>86530527-EE05-4DD5-ADCE-E0024769313A</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>8CE53661-F019-455C-8F7C-C83D66E8488D</key>
		<dict>
			<key>xpos</key>
			<integer>1645</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>927D7968-7FCD-4F95-8BEA-4BD8E5CC851C</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>9FFCF0F2-104F-4217-AC23-07FE40626882</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>AFC527CC-CA5E-4D68-A0AA-12F09FC00D7A</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>C4002375-D7BB-4DDC-8DAA-85D757F4668D</key>
		<dict>
			<key>xpos</key>
			<integer>1475</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>CEBB4664-5CEE-4D5B-9498-09F870555BFE</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>D535A9A6-9B24-4244-98DF-F2C961EC60E2</key>
		<dict>
			<key>xpos</key>
			<integer>1485</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>F1E0E6AA-EF71-4DE7-BE7B-D650A69EC3F3</key>
		<dict>
			<key>xpos</key>
			<integer>1105</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>F238FCFA-E97B-47B8-A3FA-290B503ABC19</key>
		<dict>
			<key>xpos</key>
			<integer>1980</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>FEA3DEF4-BF48-4353-92B2-D0CCD5BA69E6</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://josesoto.com</string>
</dict>
</plist>
