; !  | means mandatory
; #  | means optional
; C  | left_command
; T  | left_control
; O  | left_option
; S  | left_shift
; F  | fn
; Q  | right_command
; W  | right_control
; E  | right_option
; R  | right_shift
; !! | mandatory command + control + optional + shift (hyper)
; ## | optional any

{:templates {:launch "open -a %s"
             :hs "open -g hammerspoon://%s"}
 :applications {:terminal ["^com\\.googlecode\\.iterm2$"]}
 :layers {:hyper-mode {:key :caps_lock :alone {:key :escape}}
          :keypad-mode {:key :fn}}
 :simlayers {:launch-mode {:key :quote}}
 :simlayer-threshold 350
 :main [{:des "Hyper Mode"
         :rules [:hyper-mode
                 [:b [:hs "toggleBreakTime"]] ; Toggle BreakTime on/off
                 [:h [:hs "navigateBack"]]
                 [:j [:hs "navigateDownward"]]
                 [:k [:hs "navigateUpward"]]
                 [:l [:hs "navigateForward"]]
                 [:m [:hs "toggleSidebar"]]
                 [:n [:hs "createAnything"]]
                 [:delete_or_backspace [:hs "deleteAnything"]]
                 [:o [:hs "openAnything"]]
                 [:p [:hs "openProjectSelector"]]
                 [:q :!Cw] ; Close the current window
                 [:v :!Oj] ; Show all open apps in hammerspoon overlay
                 [:w [:hs "openWindowModal"]] ; Window Management
                 [:y [:hs "copyAnything"]]
                 ; [:r :!SCf11] ; Specific to Eclipse (RUN)
                 [:quote [:hs "openCommandPalette"]]
                 [:return_or_enter [:hs "openAppModal"]] ; trigger appM Modal in hammerspoon
                 ; [:r :!!p] ; open Raycast
                 [:semicolon :!!p] ; open Raycast
                 ]}
        {:des "Simultaneous s + d --> Super Duper Mode"
         :rules [[{:sim [:s :d] :simo {:interrupt true
                                       :dorder :insensitive
                                       :uorder :insensitive
                                       :afterup {:set ["super-duper" 0]}}} {:set ["super-duper" 1]}]]}
        {:des "Super Duper Mode for Traversing Tmux"
         :rules [:super-duper
                 [:f [:!Ta :f :return_or_enter]] ; Find a window
                 [:up_arrow [:hs "tabPrevious"]] ; Switch to the previous tmux window
                 [:down_arrow [:hs "tabNext"]] ; Switch to the next tmux window
                 [:j [:hs "navigateDownward"]] ; Focus on the pane below current pane
                 [:k [:hs "navigateUpward"]] ; Focus on the pane above current pane
                 [:h [:hs "navigateBack"]] ; Focus on the pane to the left of the current pane
                 [:l [:hs "navigateForward"]] ; Focus on the pane to the right of the current pane
                 [:n [:!Ta :comma]] ; Quick rename tmux window
                 [:o [:!Ta :z]] ; Zoom on current pane
                 [:r [:!Ta :r]] ; Reload the Matrix
                 [:hyphen [:hs "splitHorizontally"]] ; Split tmux window horizontally
                 [:backslash [:hs "splitVertically"]] ; Split tmux window vertically
                 [:delete_or_backspace [:!Ta :x :y]] ; Kill a tmux pane without asking for confirmation
                 [:y [:!Ta :!Sopen_bracket]] ; Kill a tmux pane without asking for confirmation
                 ]}
        {:des "Launch Mode for opening up Applications"
         :rules [:launch-mode
                 [:a [:launch "Alacritty"]]
                 [:c [:launch "Visual\\ Studio\\ Code"]]
                 [:f [:launch "Brave\\ Browser"]]
                 [:m [:launch "Messages"]]
                 [:o [:launch "Obsidian"]]
                 [:p [:launch "Postman"]]
                 [:b [:launch "Obsidian"]]
                 [:t [:launch "Microsoft\\ Teams"]]
                 [:s [:launch "Slack"]]
                 ]}]}
