<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>1FF27FB0-3E9D-4560-B206-3C90965DFB97</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>Open GitHub Repository '{query}'</string>
			<key>url</key>
			<string>https://github.com/{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
