<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.josecanhelp.alfred.colorgrabber</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0713C798-47CA-4278-8CAD-0A3E61AD5BD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DD0A84B-46CD-4D31-824B-5BF47EA749E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>35BF043F-4C70-4FC0-8FCC-A4D265D43EF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E9C1FEE-F90E-4C78-A560-157DBBA5103E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7D0BD53-9EB2-4D05-B880-20B812C1D45E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7D0BD53-9EB2-4D05-B880-20B812C1D45E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0713C798-47CA-4278-8CAD-0A3E61AD5BD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jose Soto</string>
	<key>description</key>
	<string>Grab any color displayed on your screen using Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Color Grabber</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied HEX value to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6DD0A84B-46CD-4D31-824B-5BF47EA749E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>color</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Color Grabber</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7E9C1FEE-F90E-4C78-A560-157DBBA5103E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>choose color</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E7D0BD53-9EB2-4D05-B880-20B812C1D45E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query = "{query}"
puts "#" + query.split(",").map{|y| "%.2x" % [y.to_i&gt;&gt;8]}.join</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0713C798-47CA-4278-8CAD-0A3E61AD5BD8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>35BF043F-4C70-4FC0-8FCC-A4D265D43EF5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use macOS built in color picker to grab HEX values from your screen.

Icon made by iconixar from Flaticon
www.flaticon.com/authors/iconixar</string>
	<key>uidata</key>
	<dict>
		<key>0713C798-47CA-4278-8CAD-0A3E61AD5BD8</key>
		<dict>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>35BF043F-4C70-4FC0-8FCC-A4D265D43EF5</key>
		<dict>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>6DD0A84B-46CD-4D31-824B-5BF47EA749E9</key>
		<dict>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>7E9C1FEE-F90E-4C78-A560-157DBBA5103E</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>E7D0BD53-9EB2-4D05-B880-20B812C1D45E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://josecanhelp.com</string>
</dict>
</plist>
